/* =========================================
    Module: Avatars / Identicons
========================================= */

.avatar-container {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;

    border-radius: 50%;
    overflow: hidden;

    margin-right: 10px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dark-mode .avatar-container {
    filter: contrast(1.2) brightness(0.85);
}