/* =========================================
    Module: Avatars / Identicons
========================================= */

:root {
    --avatar-size: 40px;
    --avatar-radius: 50%;
    --avatar-gap-inline: 10px;

    --avatar-dark-contrast: 1.2;
    --avatar-dark-brightness: 0.85;
}

.avatar-container {
    width: var(--avatar-size);
    height: var(--avatar-size);
    min-width: var(--avatar-size);
    min-height: var(--avatar-size);

    border-radius: var(--avatar-radius);
    overflow: hidden;

    margin-right: var(--avatar-gap-inline);

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 100%;
        height: 100%;
        border-radius: var(--avatar-radius);
    }
}

/* =========================================
    Commit identicon
========================================= */
.commit-identicon {
    width: var(--commit-identicon-size);
    height: var(--commit-identicon-size);
    min-width: var(--commit-identicon-size);
    min-height: var(--commit-identicon-size);

    border-radius: var(--commit-identicon-radius);
    overflow: hidden;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--chatroom-bg-colour);
    box-shadow: var(--frame-box-shadow);

    & svg {
        width: 100%;
        height: 100%;
        border-radius: var(--commit-identicon-svg-radius);
        display: block;
    }
}

.dark-mode {
    & .avatar-container {
        filter: contrast(var(--avatar-dark-contrast)) brightness(var(--avatar-dark-brightness));
    }

    & .commit-identicon {
        filter: contrast(var(--commit-identicon-dark-contrast)) brightness(var(--commit-identicon-dark-brightness));
    }
}