/* =========================================
    Entrypoint: imports everything in order
========================================= */

@import url("./core/index.css");
@import url("./core/tokens.css");
@import url("./core/theme.light.css");
@import url("./core/theme.dark.css");
@import url("./core/base.css");
@import url("./core/layout.css");
@import url("./core/utilities.css");

@import url("./modules/avatars.css");
@import url("./modules/tooltip.css");
@import url("./modules/banner.css");
@import url("./modules/terminal.css");
@import url("./modules/menu.css");

@import url("./modules/chat.css");
@import url("./modules/modals.css");

@import url("./modules/reader.css");
@import url("./modules/reader-mode.css");
@import url("./modules/readAloud.css");
@import url("./modules/chapterImages.css");
@import url("./modules/tategaki.css");

@import url("./modules/comments.css");
@import url("./modules/commits.css");
@import url("./modules/rss.css");
@import url("./modules/about.css");
@import url("./modules/debug.css");

@import url("./modules/88by31.css");